<div class="chat chat-start py-4" id="comment-<%= review.id %>">
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <%= image_tag "robot.png" %>
    </div>
  </div>
  <div class="chat-bubble"><%= review.comment %></div>
</div>
