<% if unique_tags.present? %>
  <% unique_tags.each do |tag| %>
    <div class="badge badge-primary"><%= tag.name %></div>
  <% end %>
<% else %>
  <p class="px-8 text-gray-400 text-xs md:text-base">まだこのWebアプリに登録されているタグはありません。</p>
<% end %>