<div class="card w-96 bg-base-100 shadow-xl">
  <%= link_to web_app_path(web_app) do %>
    <figure><%= image_tag web_app.ogp_image %></figure>
  <% end %>
  <div class="card-body">
    <h2 class="card-title">
      <%= web_app.site_name %>
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p><%= web_app.ogp_description %></p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Fashion</div> 
      <div class="badge badge-outline">Products</div>
    </div>
  </div>
</div>