<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Webアプリ一覧</h2>

      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg"><%= "#{Date.today}より以前に提供されたWebアプリの一覧です。"%></p>
    </div>
    <!-- text - end -->

    <%= turbo_frame_tag 'web_apps' do %>
      <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-8">

        <%= render @web_apps %>

      </div>
      <div class="text-center mt-8 md:text-xl">
        <%= paginate @web_apps %>
      </div>
    <% end %>
  </div>
</div>
