<div class="mb-4 p-8 bg-gray-300 grid grid-cols-3 items-center justify-items-center">
  <div class="col-start-2 text-center text-4xl text-blue-600">今日のWebアプリ</div>
  <div class="col-start-3 text-right text-slate-500 hover:text-blue-600">
    <%= link_to "過去に提供されたWebアプリ一覧", web_apps_path unless user_signed_in? %>
  </div>
</div>
<div class="container">
  <%= render 'web_app_details' %>
</div>