<% flash.each do |message_type, message| %>
  <% if message_type == 'success' || message_type == 'notice' %>
    <div class="p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert"><%= message %></div>
  <% elsif message_type == 'danger' %>
    <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert"><%= message %></div>
  <% elsif message_type == 'warning' %>
    <div class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert"><%= message %></div>
  <% else %>
    <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert"><%= message %></div>
  <% end %>
<% end %>