<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-xl font-bold text-gray-800 md:mb-6 lg:text-2xl pb-2 border-b-2">ブックマークしたWebアプリ</h2>
    </div>
    <!-- text - end -->

  <% if @bookmark_web_apps.present? %>
    <%= turbo_frame_tag 'web_apps' do %>
      <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-8">
        <%= render @bookmark_web_apps %>
      </div>
      <div class="text-center mt-8 md:text-xl">
        <%= paginate @bookmark_web_apps %>
      </div>
    <% end %>
  <% else %>
    <p class="text-center"><%= t('defaults.message.no_result') %></p>
  <% end %>
  </div>
</div>
