<li>
  <%= link_to raw(t 'views.pagination.truncate'), '#', class: 'page-link flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700' %>
</li>
