<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>アプリ名</th>
        <th>URL</th>
        <th>提供日</th>
        <th>OGP概要</th>
        <th>OGPイメージURL</th>
        <th>スクリーンショット場所</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @web_apps %>
    </tbody>
  </table>
</div>